body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #backg{
    flex: 1;
    background: url("../../Assets/img/background.svg") no-repeat center ;
    background-size: cover;
    width: 100%;   
    height: 100%;   
    opacity: 1;
    image-rendering: smooth;
  }
  
  .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
  }
  
  .content{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     position: fixed;
  
     width: 35rem;
     height: 40rem;
     margin-bottom: 2rem;
     box-shadow: 0px 3px 10px 5px #a3aab7;
     border-radius: 30px;
     background: #FBFBFB;
  }
  
  .content form{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center; 
     margin-top: 2rem;
  }
  
  input[type="text"], [type="password"]{
     border: 0;
     background: #FFF;
     margin-bottom: 1rem;
     padding-left: 20px;
     box-shadow: 1px 4px 5px 1px #a3aab7;
     border-radius: 15px;
     height: 47px;
     width: 428px;
     color: #8a8a8a;
  }
  
  select{
     border: 0;
     background: #FFF;
     margin-bottom: 1rem;
     box-shadow: 1px 4px 5px 1px #a3aab7;
     border-radius: 15px;
     height: 47px;
     width: 428px;
     font-weight: 500;
     font-size: 20px;
     color: #8a8a8a;
     text-decoration: none;
     -webkit-appearance: none;
  }
  
  .content option{
     background: #FBFBFB;
     outline:0px;
     font-weight: 500;
     border: 0;
     border-radius: 15px;
     font-size: 20px;
     color: #8a8a8a;
  }
  
  .content h1{
     font-style: normal;
     font-weight: 900;
     font-size: 36px;
     line-height: 24px;
     color: #213B6B;
     text-align: center;
     margin-top: 1rem;
  }
  
  .content h2{
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #8a8a8a;
     text-align: center;
     margin-top: 1rem;
  }
  
  .content a{
     font-size: 16px;
     align-self: flex-end;
     color: #8a8a8a;
     text-align: center;
     margin-top: 1rem;
  }
  
  input[type="button"]{
     border: 0;
     color: #FFF;
     width: 170px;
     height: 47px;
     font-weight: 600;
     font-size: 20px;
     margin-top: 1rem;
     background: linear-gradient(135deg, #e6d112 0%, #E9BD00 100%);
     border-radius: 50px;
  }
  
  input[type="button"]:hover{
     background: linear-gradient(135deg, #d8c200 0%, #c8971a 100%);
  }

  input[type="button"]:active{
   
  }
  
  
  
  
  #ic-server{
     padding-left: 15%;
     background: url("../../Assets/img/fi_server.png") no-repeat left , url("../../Assets/img/arrow.svg") no-repeat right ;
     background-position: 5% , 95%;
     fill: blueviolet;
     background-size: 20px;
  }
  
  #ic-user{
     padding-left: 15%;
     background: url("../../Assets/img/fi_user.png") no-repeat left;
     background-position: 5%;
     background-size: 20px;
  }
  
  #ic-lock{
     padding-left: 15%;
     background: url("../../Assets/img/fi_lock.png") no-repeat left;
     background-position: 5%;
     background-size: 20px;
  }
  
  
  .in-radio {
     color: #8a8a8a;
     margin: 0;
     align-self: flex-start;
     margin: 1rem;
     font-size: 16px;
     font-weight: 500;
  }
  
  .log-icr{
     position: fixed;
     margin-top: 51rem;
     left: 46%;
  }
  
  #load{
    height: 20rem;
    margin: 1rem ;
    display: none; 
    justify-content: space-between; 
    flex-direction: column; 
    transition: 0.2s;
    opacity: 0;
  }
  
  #load img{
    transition: 0.2s;
    opacity: 0;
  }
  
  .spin {
    display: inline-block;
    width: 10rem;
    margin-top: 1rem;
    height: 10rem;
    border: 10px solid rgba(255, 221, 0, 0.896);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  svg:hover path {
    transition: 0.2s;
  }
  
  