:root {
    --font-color: #233E71;
    --font-colorDefault: #A6A6A6;
    --font-sizeHeader: 1rem;
    --backGround: #fff;
}

body {
    width: 100%;
    height: 100vh;

    background: #F3F3F3;
}

.backgroundColor {
    width: 100%;
    height: 35vh;
    background: #FFC700;

    position: absolute;
}

/* Classe multi uso */
.flex {
    display: flex;
}

.displayAround {
    align-items: center;
    justify-content: space-around;
}

.displayBetween {
    align-items: center;
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.displayRow {
    flex-flow: row wrap;
}

.displayColumn {
    flex-flow: column wrap;
}

.fontStyle {
    color: var(--font-color);
    text-transform: capitalize;
}


.fontWeight {
    font-weight: 600;
}

.decoration {
    text-decoration: none;
}

.border {
    border-radius: 2rem;
    border: none;
}

.arrowSize {
    width: 1.5rem;
    height: 1.5rem;
}

.backgroundWhite {
    background-color: var(--backGround);
}

/* Classe multi uso */

/* Classes do header */

header {
    width: 100%;
    height: 7.5rem;
    position: absolute;
}

.img-content {
    width: 12%;
    height: 100%;

    margin-left: 2%;
}

h2 {
    font-size: 2.2rem;
}

.img-content img {
    width: 25%;
}

.search-ctn {
    width: 30%;
}

.searchBar {
    display: block;

    width: 100%;
    height: 1.8rem;

    padding-left: 0.6rem;

}

.searchImage {
    background-image: url(../../Assets/img/fi_search.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;

    background-position: 97%
}

.user-ctn {
    width: 12%;
    height: 70px;

    /* background-color: #abb7dd;   */

    margin-right: 2.5%;
}

.profilePicture {
    width: 2.5rem;
    height: 2.5rem;

    border: 2px #EAEAEA solid;
}

#profileOptions {
    border: none;
    background: #FFC700;
}

.bottom {
    width: 100%;
    margin-top: 7px;
}

.bottom div p {
    margin-left: 0.2rem;
    font-size: 15px;
}

/* Classes do header */

/* Classes main */

main {
    display: flex;

    width: 100vw;
    height: 75vh;
    /* background-color: rgba(128, 128, 128, 0.507); */

    position: absolute;
    top: 15%;
}

nav {
    width: 15vw;
    height: 95%;

    position: relative;
}

#btnOpenClose {
    width: 2rem;
    height: 12%;

    position: absolute;
    top: 45%;
    right: -1rem;
}

nav div {
    width: 100%;
    height: 100%;

    display: flex;
}

.navigation {
    width: 90%;
    height: auto;

    /* background-color: red; */
}

.after-navigation {
    width: auto;
}

.navigation ul {
    width: auto;
    height: 100%;

    display: flex;
    align-items: flex-start;
}

.navigation ul li a{
    width: auto;
    height: auto;
    display: flex;
}

.navigation ul li {
    margin-top: 1.8rem;
    display: flex;
}

.navigation-img {
    display: block;

    font-size: 1.7rem;

    color: var(--font-colorDefault);
}


.navigation-txt {
    margin-left: 1rem;
    font-size: 1.2rem;

    color: var(--font-colorDefault);
}

.navigation-txt:hover {
    color: #233E71;
}

.navigation-txt-after{
    display: none;
}

.nav-after {
    width: 3%;
}

.btn-after {
    display: block;

    width: 100%;
    height: auto;
    /* background-color: red; */

}

.btn-before {
    display: none;

}

.marginNotification {
    margin-top: 1rem;
    margin-left: 17%;
}

.marginBottom {
    margin-bottom: 1.8rem;
    display: flex;
}

.content {
    width: 75vw;
    height: 95%;
}

.content-after {
    width: 87vw;
}

/* classes do footer */

footer {
    width: 100%;
    height: 10vh;
    /* background-color: blue; */

    position: absolute;
    bottom: 0;
}

.logoFooter {
    width: 30%;
    height: 100%;
    /* background-color: red; */

    display: flex;
    padding-left: 2%;
}

.footer-text {
    font-size: 0.8rem;
    padding-left: 1rem;
}

.center-ctn {
    width: 5%;
    height: 100%;
    /* background-color: rebeccapurple; */

    display: flex;
}

.center-img {
    width: 4vw;
}

.ICR-ctn {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

.txtWidth {
    width: 30%;
    text-align: right;
    flex-wrap: wrap;
}

.imgWidth {
    width: 30%;
    margin-right: 10%;
    margin-left: 2%;
}

@media screen and (max-width: 1480px) {
    .img-content {
        width: 17%;
    }

    .user-ctn {
        width: 14%;
    }

    .user-ctn {
        width: 15%;
        margin-right: 1.8rem;
    }

    .icon-navigation {
        margin-left: 0.65rem;
    }

    .navigation-txt {
        font-size: 1rem;
    }

}

@media screen and (max-width: 1201px) {

    header {
        height: 6rem;
    }

    main {
        top: 13%;
    }

    .user-ctn {
        width: 18%;
        margin-right: 1.5rem;
    }

    .img-content {
        width: 20%;
        margin-left: 1rem;
    }


    .ICR-logo-footer {
        width: 70%;
    }

    .navigation-img {
        font: 0.6rem  ;
    }

    .navigation-txt {
        font-size: 0.9rem;
    }

    #btn {
        margin-left: 2%;
    }

    nav {
        width: 18vw;
    }

    .nav-after {
        width: 4vw;
    }

    .txtWidth {
        width: 40%;
    }

    .footer-text {
        font: 0.7rem;
    }
}

@media screen and (max-width: 1025px) {

    .search-ctn{
        display: none;
    }

    .img-content {
        width: 50%;
    }

    .user-ctn {
        /* background-color: red; */
        width: 50%;
    }

}

@media screen and (max-width: 361px) {

    .img-content {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-content img {
        margin-right: 10px;
    }


    h2 {
        font-size: 1.5rem;
    }

    .user-ctn {
        width: 40%;
    }

    .searchBar {
        display: none;
    }
}