:root {
    --font-color: #233E71;
    --font-sizeHeader: 1rem;
    --captalize: text-transform: captalize;
    --backGround: #fff;
}

body {
    width: 100%;
    height: 100vh;

    background: #F3F3F3;
}

.backgroundColor {
    width: 100%;
    height: 35vh;
    background: #FFC700;

    position: absolute;
}

/* Classe multi uso */
.flex {
    display: flex;
}

.displayAround {
    align-items: center;
    justify-content: space-around;
}

.displayBetween {
    align-items: center;
    justify-content: space-between;
}

.displayRow {
    flex-direction: row;
}

.displayColumn {
    flex-direction: column;
}


.fontStyle {
    color: var(--font-color);
    text-transform: var(--captalize);
}


.fontWeight {
    font-weight: 600;
}

.border {
    border-radius: 2rem;
    border: none;
}

.arrowSize {
    width: 1.5rem;
    height: 1.5rem;
}

.backgroundWhite {
    background-color: var(--backGround);
}

/* Classe multi uso */

/* Classes do header */

header {
    width: 100%;
    height: 7.5rem;
    position: absolute;
}

.img-content {
    width: 12%;
    height: 100%;

    margin-left: 2%;
}

h2 {
    font-size: 2.2rem;
}

.search-ctn {
    width: 30%;
}

.searchBar {
    display: block;

    width: 100%;
    height: 1.8rem;

    padding-left: 0.6rem;

}

.searchImage {
    background-image: url(../../Assets/img/fi_search.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;

    background-position: 97%
}

.user-ctn {
    width: 10%;
    height: 70px;

    /* background-color: #abb7dd; */

    margin-right: 2.5%;
}

.profilePicture {
    width: 2.5rem;
    height: 2.5rem;

    border: 2px #EAEAEA solid;
}

#profileOptions {
    border: none;
    background: #FFC700;
}


/* #profileNavigation {
    display: none;

    position: absolute;
    right: -1px;
    margin-top: 0.5rem;
    margin-right: 2rem;

    width: 10%;
    height: 100%;
    background: #fff;


    z-index: 1;

    border: 2px rgb(211, 211, 211) solid;
} 

 .btnCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 33.3%;

    border: none;
    background: none;
    border-bottom: 2px rgb(211, 211, 211) solid;

    background-color: #222E57;
} 

 .borderTop:hover {
    background: rgb(211, 211, 211);
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.borderMid:hover {
    background: rgb(211, 211, 211);
    border: none;
}

.borderBottom {
    border-bottom: none;

}

.borderBottom:hover {
    background: rgb(211, 211, 211);
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
} */


.bottom {
    margin-top: 7px
}

.bottom div p {
    margin-left: 0.5rem;
}

/* Classes do header */

/* Classes main */

main {
    display: flex;
    
    width: 100vw;
    height: 75vh;
    /* background-color: rgba(128, 128, 128, 0.507); */

    position: absolute;
    top: 15%;
}

nav {
    width: 15vw;
    height: 95%;

    position: relative;
}

#btnOpenClose {
    width: 17%;
    height: 12%;

    position: absolute;
    top: 45%;
    right: -6%;
}

nav div {
    width: 100%;
    height: 100%;
}

.topNavigation {
    width: 100%;
    height: 50%;

    /* background-color: red; */
}

#content {
    width: 75vw;
    height: 95%;
}

footer {
    width: 100%;
    height: 10vh;
    /* background-color: blue; */

    position: absolute;
    bottom: 0;
}

.logoFooter {
    width: 30%;
    height: 100%;
    /* background-color: red; */

    display: flex;
    align-items: center;

    padding-left: 2%;
}

.footer-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;

    padding-left: 1rem;
}

.center-ctn {
    width: 5%;
    height: 100%;
}

.center-img {
    width: 70%;
}

.ICR-logo-footer {
    width: 55%;
    height: 100%;

    /* background-color: #233E71; */

    margin-right: 2.2rem;
}

@media screen and (min-width: 1700px){
    .icon-navigation {
        padding-left: 0.2rem;
    }
}

@media screen and (min-width: 1601px) {
    header {
        margin-top: 0.8rem;
    }

    .user-ctn {
        width: 11%;
    }

    .navigationText {
        font-size: 1.3rem;
    }

    .icon-navigation {
        margin-left: 1.2rem;
    }
}

@media screen and (max-width: 1600px) {

    header {
        /* margin-top: 1.5rem; */
        height: 6.5rem;
    }

    #profileNavigation {
        width: 12%;
    }

    h2 {
        font-size: 2rem;
    }

    .user-ctn {
        width: 13%;
    }

    .img-content {
        width: 15%;
    }

    .date {
        font-size: 16px;
    }

    .logoFooter {
        width: 40%;
    }

    .footer-text {
        font-size: 12px;
    }

    .nav-text {
        font-size: 15px;
    }

    #navigation {
        height: 100%;
        width: 15%;
    }


}

@media screen and (max-width: 1480px) {
    .user-ctn {
        width: 14%;
    }

    .user-ctn {
        width: 15%;
        margin-right: 1.8rem;
    }

    .icon-navigation {
        margin-left: 0.65rem;
    }

}

@media screen and (max-width: 1201px) {

    header {
        height: 6rem;
    }

    main {
        top: 13%;
    }

    .user-ctn {
        width: 18%;
        margin-right: 1.5rem;
    }

    .img-content {
        width: 20%;
        margin-left: 1rem;
    }


    .ICR-logo-footer {
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .user-ctn {
        width: 20%;
    }

    .ICR-logo-footer {
        width: 60%;
    }

    .logoFooter {
        width: 70%;
    }
}

@media screen and (max-width: 361px) {

    .img-content {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img-content img {
        margin-right: 10px;
    }


    h2 {
        font-size: 1.5rem;
    }

    .user-ctn {
        width: 40%;
    }

    .searchBar {
        display: none;
    }
}