html,
body,
body * {
    display: flex;
}

:root {
    --font-color: #233E71;
    --font-colorDefault: #A6A6A6;
    --font-sizeHeader: 1rem;
    --backGround: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #F5F5F5 65%, #fdcd3b 10%) no-repeat;

    flex-direction: column;
}

body header {
    width: 100vw;
    height: 15vh;

    align-items: center;
    justify-content: space-between;
}

body header div#topLogo {
    width: 15%;
    height: 70%;
    align-items: center;
    justify-content: row;
    margin-left: 2%;
    flex-wrap: wrap;
}

body header div#topLogo img {
    width: 25%;
    margin-right: 5%;
}

body header div#topLogo div {
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column wrap;
    height: auto;
}


body header div#topLogo div h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #233E71;
}

.topText {
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #233E71;
}

body header div#topSearch {
    width: 30%;
    height: 90%;
}

body header div#topSearch form {
    width: 100%;
    height: 100%;

    position: relative;

    align-items: center;
    justify-content: center;
}

body header div#topSearch form input {
    width: 95%;
    height: 30%;
    border: none;
    border-radius: 1rem;
    padding-left: 10px;
}


body header div#topSearch form button {
    background-color: #fff;
    border: none;
    height: 30%;
    width: 5%;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8%;
}

body header div#topUser {
    width: 15%;
    height: 70%;
    margin-right: 2%;

    flex-flow: column;
    justify-content: center;
}

body header div#topUser div {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

body header div#topUser div h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

body header div#topUser div img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border: #A6A6A6 3px solid;
}

body header div#topUser div button {
    background-color: #fdcd3b;
    border: none;
}

body header div#topUser div#dateInformation {
    width: 100%;
    margin-top: 5%;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

body header div#topUser div#dateInformation div {
    justify-content: center;
}

body header div#topUser div#dateInformation div ion-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

body main {
    width: 100vw;
    height: 70vh;

    flex-direction: row;
    justify-content: space-around;
}

body main nav {
    width: 15%;
    height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

body main nav div#openCloseNav {
    width: 2.5rem;
    height: 4rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #A6A6A6;
    position: absolute;
    top: 50%;
    right: -10%;
    cursor: pointer;
}

body main nav div#openCloseNav ion-icon {
    font-size: 1.5rem;
}

body main nav ul#topMenu {
    margin-top: 5%;
    width: 88%;
    height: 45%;
    flex-direction: column;
}

body main nav ul#bottomMenu {
    margin-bottom: 10%;
    width: 88%;
    height: 15%;
    flex-direction: column;
}

body main nav ul div.notification {
    width: 100%;
    height: auto;

    align-items: center;
    margin-top: 5%;

    flex-wrap: wrap;
}

body main nav ul div.notification ion-icon {
    font-size: 1.6rem;
    color: #A6A6A6;
    margin-left: 2.2rem;

}

body main nav ul div.notification p {
    font-size: 1rem;
    color: #A6A6A6;
    text-transform: capitalize;
    margin-left: 1rem;
}


body main nav ul li div#notificationBar {
    width: 100%;
    height: 30%;
}

body main nav ul li * {
    margin-top: 5%;
    transition: 0.5s;
    flex-wrap: wrap;
}

body main nav ul li.page * {
    color: #233E71;
    font-weight: 600;
}

body main nav ul li:hover * {
    color: #233E71;
    font-weight: 600;
}

body main nav ul li button#notificationBtn {
    margin-left: 1rem;
    border: none;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

body main nav ul li button#notificationBtn ion-icon {
    font-size: 1.2rem;
    color: #A6A6A6;
}

body main nav ul li a {
    text-decoration: none;
    align-items: center;
    color: #233E71;
}

body main nav ul li a p {
    margin-left: 1rem;
    text-transform: capitalize;
    color: #A6A6A6;
}

body main nav ul li a ion-icon {
    font-size: 1.6rem;
    color: #A6A6A6;
}

body main div#content {
    background-color: #fff;
    border-radius: 30px;

    width: 77%;
    height: 100%;
}

body footer {
    width: 100%;
    height: 15vh;

    justify-content: space-between;
    align-items: center;
}

body footer div.logoFooter {
    width: 25%;
    height: 100%;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

body footer div.logoFooter img {
    width: 25%;
}

body footer div.logoFooter p {
    width: 50%;
    font-size: 0.8rem;
}

body footer img {
    width: 4%;
}
